@import "assets/styles/_Typography.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondary-font;

}

body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .calculator-heading {
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .keyboard {
        background-color: #02010A;
        display: grid;
        grid-template-columns: repeat(4, 70px);
        /*grid-template-rows: repeat(7, 100px);*/
        grid-auto-rows: 70px;
     
     

        .keyboard__button {
            cursor: pointer;
            background-color: #04052E;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            padding: 20px;
            color: white;
            border: none;

            &:hover {
               
                
            }

            &--blue {
                background-color: #0D00A4;
                font-size: 2rem;
                border: 1px solid #04052E;
            }
        }


        .screen {
            font-weight: 500;
            font-size: 3rem;
            padding: 10px;
            background-color: #02010A;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: white;
            grid-column: 1 / 5;
        }

        .zero {
            grid-column: -5 / -3;
            border: 1px solid #04052E;
        }
       

        .equals {
            grid-column: -5 / -1;
            background-color: #990033;
        }

        .red {

            background-color: red;
            opacity: none;
        }

        .maximum-red {
            background-color: #990033;
        }
    }





}


@media screen and (min-width: 1000px) {

    body {    
        font-size: 18px;
        


        .keyboard {
            display: grid;
            grid-template-columns: repeat(4, 100px);
            grid-auto-rows: 100px;
        }
    }






}