@import "assets/styles/_Typography.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondary-font;

}

body {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000814;

   
   

    .calculator-heading {
        margin-bottom: 30px;
        font-size: 3rem;
     
     

    }

    .keyboard {
       
        display: grid;
        grid-template-columns: repeat(4, 70px);
        /*grid-template-rows: repeat(7, 100px);*/
        grid-auto-rows: 70px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        background-color: #001D3D;
        padding: 20px;
    
    

        .keyboard__button {
            cursor: pointer;
            //background-color: #04052E;
            background-color: #001D3D;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.5rem;
            padding: 20px;
            color: white;
            border: none;


            &:hover {
                filter: brightness(140%);
               
                
            }

            &--blue {
                //color:  #8693AB;
                color: #FFD60A;
                //background-color: #0D00A4;
                //font-size: 2.3rem;
            
             
                
            }
        }

        

        .screen {
            font-weight: 500;
            font-size: 3.5rem;
            padding: 10px;
            background-color: whitesmoke;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: black;
            grid-column: 1 / 5;

        }

        .zero {
            grid-column: -5 / -3;
          
        }
       

        .equals {
            grid-column: -2 / -1;
            color: white;
            //background-color: #8693AB;
            border-radius: 50%;
            background-color: #FFC300;
          
        }

        .red {

            background-color: red;
            opacity: none;
        }

        .maximum-red {
            //background-color: #990033;
            //color: #990033;
         
      


        }

        .devide {
     

        }
    }





}


@media screen and (min-width: 1000px) {

    body {    
        font-size: 18px;
        


        .keyboard {
            display: grid;
            grid-template-columns: repeat(4, 100px);
            grid-auto-rows: 100px;
        }
    }






}